.header-avatar {
  position: relative;
}

.login-button {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 2px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  float: right;
  margin-right: 4px;
}

.login-button.agent {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.login-button.active {
  
  border: 1px solid #c1214481;
}

.login-button:hover {
  border: 1px solid #c1214481;
}

.login-button.agent:hover {
  border: 1px solid #396291;
}


.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.icon.right > * {
  width: 12px;

}

.icon.left > * {
  width: 18px;  
}

.icon.left {
  margin-right: 8px;  
}

.icon.right {
  margin-left: 8px;  
}

.label {
  text-align: left;
  flex: 1;
  font-size: .8rem;
  font-weight: 700;
  color: #c12143;
  line-height: 0.8rem;
}

.agent > .label {
  color: #3B4266;
}

.label-pre {
  font-size: 0.6rem;
  color: #6a0032;
  display: block;
  font-weight: 400;
}

.overlay-menu {
  position: absolute;
  right: 0;
  top: -4px;
  background: #fff;
  padding: 60px 0px 0px 0px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 12px;
  z-index: 1; 
  text-align: left;
}

.overlay-iframe {
  border: none;
  width: 170px;
  height: 300px;
  overflow: none;
}

.agent-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: white;

  /* outline: 1px solid; */
}


.agent-icon > * {
  width: 24px;
}

.login-button.agent.selected {
  background-color: #f0f0f0;
  border: 1px solid #4242423f;
}

.selected-icon {
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #4242423f;
  background: #fff;
  right: 6px;
}

.selected-icon > * {
  width: 12px;
}

.agent .label-pre {
  color: #666;
}

@media (min-width: 640px) {
  .login-button {
    padding: 4px;
  }

  .label {
    
    font-size: 0.9rem;
    line-height: 1rem;
  }
  
  .label-pre {
    font-size: 0.7rem;

  }

  
}

@media (min-width: 1024px) {
  .icon.left > * {
    width: 24px;  
  }
  .login-button {
    padding: 8px;
  }

  .label {
    
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
  .label-pre {
    font-size: 0.8rem;

  }

  .overlay-menu {
    left: -8px;
    right: -4px;
    top: -8px;
    
    padding: 80px 10px 0px 10px;
    
  }
}