:root {
    /* Primary Colors */
    --primary-20: #58002f;
    --primary-30: #6a0032;
    --primary-35: #a00b36;
    --primary-40: #c12143;
    --primary-50: #d43755;
    --primary-60: #e84d67;
    --primary-70: #ec6a7e;
    --primary-80: #f08896;
    --primary-90: #faeef0;
  
    /* Secondary Colors */
    --secondary-20: #2e5077;
    --secondary-30: #34618a;
    --secondary-40: #396291;
    --secondary-50: #6f8ab3;
    --secondary-60: #98a6c4;
    --secondary-70: #b1bed6;
    --secondary-80: #c4d1e4;
    --secondary-90: #c6d2df;
    --secondary-95: #f1f1f5;
  
    /* Neutral Colors */
    --neutral-20: #353535;
    --neutral-30: #4b4d4f;
    --neutral-40: #636466;
    --neutral-50: #808285;
    --neutral-60: #9a9c9e;
    --neutral-70: #b4b6b8;
    --neutral-80: #cecfd1;
    --neutral-90: #dadbdc;
  
    /* Success Colors */
    --success-20: #356601;
    --success-30: #3b7302;
    --success-40: #419002;
    --success-50: #67a524;
    --success-60: #8db947;
    --success-70: #b3cc6b;
    --success-80: #d9e08f;
    --success-90: #eff4c3;
  
    /* Attention Colors */
    --attention-20: #cc8b00;
    --attention-30: #e09e00;
    --attention-40: #ffc100;
    --attention-50: #ffd233;
    --attention-60: #ffe066;
    --attention-70: #ffed99;
    --attention-80: #fff7cc;
    --attention-90: #fffbf0;
  
    /* Error Colors */
    --error-20: #8c0e29;
    --error-30: #a8102d;
    --error-40: #c12143;
    --error-50: #d43755;
    --error-60: #e84d67;
    --error-70: #ec6a7e;
    --error-80: #f08896;
    --error-90: #faeef0;
  
    --background: #fff;
  }

  .menu-top-nav ids-header-item {
    display: block!important;
  }
  
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 0, 0, 0.7);
    z-index: 999;
  }


  .toggle-sidebar {
    display: none;
  }
  
  @media (min-width: 1000px) { 
    .menu-overlay.clear {
      width: 20vw;
    }


    #root.sidebar-active {
      width: 80vw;
      margin-left: 20vw;
    }

    .menu.sidebar {
      border-radius: 0;
      left:0;
      top:0;
      height: 100vh;
      width: 20vw;
      border-right: 1px solid var(--neutral-90);
    }

    .toggle-sidebar {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid var(--neutral-80);
      transform: rotate(180deg);
      cursor: pointer;
    }
  
    .toggle-sidebar:hover {
      border: 1px solid var(--neutral-90);
    }
  
    .toggle-sidebar input:checked + *{
      
      transform: rotate(180deg);
    }
  
    .toggle-sidebar input {
      display: none;
    }

    .sidebar .menu-back-button {
      top: 0px;
    }

    .menu.sidebar .menu-header{ padding-top: 50px;}

    .menu.sidebar .menu-title {font-size: 1.6rem; line-height: 110%;}

    .menu.sidebar .menu-item {      
    border-radius: 4px;
    font-size: 1.1rem;
    margin-bottom: 4px;
    }

    .menu.sidebar .service-menu-item {
      padding-left: 36px;
    }
    
    .menu.sidebar .service-menu-item-icon {
      top: 50%;
      left: 10px;
      translate: 0 -50%;
      width: 18px;
    }

    .menu.sidebar .menu-footer {
      left: 0;
      bottom: 24px;
      margin-bottom: 0;
      width: 20vw;
    }
  }

  

  
  
  .menu {
    background-color: var(--background);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 18px 12px 72px 12px;
  
    z-index: 1000;
    position: absolute;
    top: 4vh;
    left: 2vw;
    height: 96vh;
    overflow-y: auto;
    width: 96vw;
    max-width: 800px;
  }

  .menu-header {
    padding-top: 112px;
    position: relative;
    margin-bottom: 12px;
  }
  
  .menu-footer {
    padding-top: 20px;
    /* background-color: #fff; */
  }

@media (min-width: 800px) {

  .menu {
    background-color: var(--background);
    border-radius: 12px;
    padding: 18px 12px 72px 12px;
    z-index: 1000;
    position: absolute;
    top: 4vh;
    bottom: 4vh;
    left: 2vw;
    height: 92vh;
    overflow-y: auto;
    width: 96vw;
    max-width: 800px;
  }

  .menu-footer {
    padding-right: 20px;
    text-align: right;
    margin-bottom: 20px;
    position: fixed;
    left: 2vw;
    width: 96vw;
    bottom: 4vh;
    max-width: 800px;
    border-top: 1px solid var(--neutral-90);
  }
}
  
  
  .menu-item {
    cursor: pointer;
    padding: 12px 8px;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 1rem;
    color: var(--primary-30);
    border: 1px solid var(--neutral-90);
    margin-bottom: 4px;
    text-align: left;
  }
  
  @media (min-width: 800px) {
    .menu-item {
      font-size: 1.25rem;
      padding: 12px;
    }
  }
  
  .menu-item:hover {
    background-color: var(--primary-90);
    border: 1px solid var(--primary-40);
  }
  
  .chevron-icon {
    color: var(--primary-40);
    float: right;
  }
  
  .menu-back-button {
    cursor: pointer;
    position: absolute;
    top: 68px;
    left: 0;
    color: var(--primary-30);
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--neutral-90);
    text-decoration: none;
  }
  
  .menu-back-button:hover {
    background-color: var(--primary-90);
    border: 1px solid var(--primary-40);
  }
  
  .back-button:hover {
    background-color: #f5f5f5;
  }
  
  .menu-button {
    text-decoration: none;
    color: inherit;
    /* outline: 1px solid green; */
    text-align: center;
    padding:0;

    font-size: 1rem;
    color: var(--primary-30);
  
    display: block;
    margin-left: 20px;
    text-align: center;
    margin-top: -6px;
    box-sizing: border-box;
    /* padding-bottom: 4px; */
  }

  .menu-button * {
    display: inline-block;
    width: auto;

    /* outline: 1px solid red; */
    cursor: pointer;

    
  }
  
  .menu-button span {
    width: 100%;
    float: left;
    /* margin-left: -25px; */
  }
  
  
  
  .header-nav-item {
    display: inline-block;
    padding: 0 8px;
    height: 56px;
    line-height: 56px;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary-40);
    position: relative;
  }
  
  .header-nav-item:hover {
    border-bottom: 2px solid var(--primary-30);
  }
  
  .first-item {
    font-weight: 600;
    margin-right: 6px;
    color: var(--primary-30);
    z-index: 1;
    background-color: var(--primary-90);
    padding-right:12px;
  }
  
  .first-item:after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background: var(--neutral-90);
    position: absolute;
    top: 50%;
    right: 0px;
    translate: 0 -50%;
  }
  
  .menu-title {
    text-align: left;
  }

  
  
  .menu-header .logout-button {
    position: absolute;
    margin-top: 10px;
    width: 200px;
    left: -10px;
    border: 1px solid var(--neutral-90);
    border-radius: 8px;
    /* height: 10px; */

  }
  
  @media (min-width: 1024px) {
    

    .menu-header .logout-button {
    width: 300px;
    top: -20px;
    left: -24px;
    }
    
  }
  
  @media (min-width: 800px) {
      
    .menu-button:hover {
      border-bottom: 2px solid var(--primary-30);
      color: var(--primary-40);
      /* background-color: var(--primary-90); */
    }
  }
  
  .menu-header {
    position: relative;
    top: 0;
    right: 0;
  }
  
  .menu-top-nav {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    display: flex;
    justify-content: right;
  }
  
   
  
  .menu-close-button {
    border: 1px solid white;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    position: fixed;
    top: 12px;
    left: 6px;
    z-index: 10000;
    cursor: pointer;
    background: var(--background);
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  @media screen and (min-width: 800px) {
    .menu-close-button {
      top: 25px;
      left: 16px;
    }
  }
  
  .menu-close-button:hover {
    border: 1px solid var(--primary-40);
    background-color: var(--primary-90);
  }
  
  .menu-close-button > * {
    color: var(--primary-30);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--background);
  }
  
  .service-menu-item {
    /* background-color: var(--primary-90); */
    padding-left: 48px;
  }
  
  .service-menu-item-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    translate: 0 -50%;
    width: 24px;
  }
  
  
  

.login-button {
    display: inline-block;
    background-color: #ffffff;
    color: #6a0032;
    border: 1px solid #6a003258;
    padding: 0 1.4rem;
    border-radius: 20px;
    height: 42px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 700;
  }
  
  .login-button:hover {
    text-decoration: underline;
  }
  
  .login-button ids-icon-user {
    float: left;
    width: 1.4rem;
  }
  
  .login-button span {
    margin-left: 0.6rem;
  }

  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index:999;
  }

  .settings-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: 1000;
    background: white;
    padding: 20px;
    border-top-left-radius:15px;
  }

  .settings-menu ids-button {
    margin-top: 10px;
  }

  .menu-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    position: absolute; 
    max-width: 1280px;
    width: 100%;
    padding-left: 80px; 
  }

  @media (max-width: 600px) {
    .menu-wrapper { 
      display: none;
    }
  }

  @media (min-width: 1024px) {
    .first-item {
      background-color: #fff;
    }
  }

  
  
  .menu-row {
    display: inline-block; /* Behåller innehållet på en rad */
    padding-bottom: 12px;
  }