@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  font-family: "Open Sans", system-ui, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

#mainContainer {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 1310px;
}

.card {
  display: block;
  margin-bottom: 20px;
}

.ids-mb-2.block {
  background-color: #f1f1f5;
  padding: 12px;
  display: inline-block;
  border-radius: 10px;
  width: 100%;
}

.ids-mb-2.block.primary {
  border: 1px solid #396291;
}

.blocklink li {
  background: #f1f1f5;
  padding: 12px 12px;
  border-radius: 6px;
  margin-bottom: 6px;
}

hr {
  background: #f1f1f5;
  display: block;
  height: 1px;
  border: none;
}

.ids-ul {
  padding: 100px;
}

.ids-ul li {
  list-style: disc;
  margin: 2rem;
}

.ids-ul li::marker {
  color: #c12143;
}

.box-list {

  margin: 1px;


}

.box-list li {
  margin-bottom: 2px;
  background: #f1f1f5;
  padding: 12px;
  border-radius: 4px;

}